src/main/mule/test-florence-proc.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="test-florence-proc-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8082" />
    </http:listener-config>
    <apikit:config name="test-florence-proc-config" api="test-florence-proc.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="0dbd82ea-42a6-46d4-8413-1473c8969ae5" basePath="/api/">
        <http:request-connection host="${sys.host}" port="${sys.port}" />
    </http:request-config>
    <configuration-properties doc:name="Configuration properties" doc:id="dc2e7d4a-ccab-4ab1-9584-fca6b531af0b" file="proc-${env}.yaml" />
    <flow name="test-florence-proc-main">
        <http:listener config-ref="test-florence-proc-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="test-florence-proc-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="test-florence-proc-console">
        <http:listener config-ref="test-florence-proc-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="test-florence-proc-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\usersFile:multipart\form-data:test-florence-proc-config">
        <ee:transform doc:name="Transform Message" doc:id="51b6a530-176b-4226-8339-2b634f90744d">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
read(payload.parts.fileContent.content.^raw, "application/csv", { separator: ";" })]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="2d6d2d6d-38fe-4200-98bc-c6213778984e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map (record) -> {
	name: record.nome,
	surname: record.cognome,
	email: record.mail,
	address: record.indirizzo
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="eae1e09e-52f1-4b45-af0f-137132c61524" collection="payload">
            <logger level="INFO" doc:name="Logger" doc:id="0919469e-4d92-4e10-a15b-0b2963875b15" message="#[payload]" />
            <http:request method="POST" doc:name="Request" doc:id="6f58f172-c51f-4eff-a16d-a35e3cc13af2" config-ref="HTTP_Request_configuration" path="user" />
        </foreach>
        <ee:transform doc:name="Transform Message" doc:id="730feb16-8310-4ce8-9151-2f6428dec25e">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"Inserimento effettuato con successo"]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" message="post:\user:multipart\form-data:test-florence-proc-config" />
    </flow>
	<flow name="oldCsvExtraction" doc:id="6820bdd4-7c08-4b57-a0f2-dbf24660f5e0" >
		<ee:transform doc:name="Transform Message" doc:id="8ed1b42d-817e-4a2a-8392-bb9892140e98" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="073e674d-21db-4f29-a7a2-bd0a04e2af0e" collection="payload[0][0][1]" >
			<ee:transform doc:name="Transform Message" doc:id="97e3a818-15c3-454a-abd7-908a2e9318ea" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json

var userCsv = (payload pluck $) joinBy ","
var userCsvSplitted = userCsv splitBy(";")
---
{
	name: userCsvSplitted[0],
	surname: userCsvSplitted[1],
	email: userCsvSplitted[2],
	address: userCsvSplitted[3]
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<logger level="INFO" doc:name="Logger" doc:id="09c09535-4c8c-4f43-b956-ef249b5105d9" message="#[payload]" />
			<http:request method="POST" doc:name="Request" doc:id="779f04ca-20b6-40f2-a8df-2f460eea83a1" config-ref="HTTP_Request_configuration" path="user" />
		</foreach>
		<ee:transform doc:name="Transform Message1" doc:id="8e86e95c-c61d-49b5-8823-c471879da05a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"Inserimento effettuato con successo"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="2f16e321-74cf-44a6-80cf-fb1af255cde7" message="post:\user:multipart\form-data:test-florence-proc-config" />
	</flow>
</mule>
